.page.device.container {
  .ant-card {
    .ant-card-head-title {
      .text {
        display: inline-block;
        width: 80px;
        font-weight: 600;
        font-size: 1.1em;
      }

      input {
        display: inline-block;
        max-width: 250px;
      }
    }

    .ant-table-thead > tr > th {
      font-weight: 800;
      background-color: rgba(38, 68, 102, 0.8);
      color: white;
    }

    .anticon {
      font-size: 1.2em;
    }
  }
}
