.page.container:not(.home) {
  padding: 15px;
  position: relative;
  // background-color: rgba(192, 192, 192, 0.1);

  .ant-card {
    position: relative;
    height: 100%;
    .ant-card-extra {
      & > .anticon {
        margin: 0px 3px;
        font-size: 20px;
      }

      & > div {
        margin: 0px 5px;
      }
    }

    .ant-card-head-title {
      .text {
        display: inline-block;
        width: 80px;
        font-weight: 600;
        font-size: 1.1em;
      }

      input {
        display: inline-block;
        max-width: 250px;
      }
    }

    .ant-card-body {
      overflow: auto;
      height: calc(100% - 65px);

      /* 滚动条 */
      &::-webkit-scrollbar {
        width: 6px; /*滚动条的宽度*/
      }
      &::-webkit-scrollbar-thumb:vertical {
        /*垂直滚动条的样式*/
        background-color: rgba(153, 153, 153, 0.144);
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb:hover {
        /*滚动条的hover样式*/
        background-color: #0a0a0a94;
        border-radius: 3px;
      }
    }

    .ant-table-thead > tr > th {
      font-weight: 800;

      background-color: rgba(48, 86, 128, 0.8);
      color: white;
    }

    .ant-table-cell {
      .anticon {
        margin: 0px 3px;
      }
    }
  }

  & > .anticon {
    font-size: 18px;

    &:hover {
      filter: drop-shadow(0px 0px 1px #1c2d4b57);
    }
  }
}

.page.container.single {
  .ant-card {
    .ant-card-extra {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
